In [3]:
#adds an object at the end
ListA=[23,67,"DENNIS",67,"FROM",8,5.8,'COUNSEL']
ListA.append('ADDED')

In [5]:
#Clears entire list
ListA.clear()
ListA

[]

In [7]:
ListA=[23,67,"DENNIS",67,67,"FROM",8,5.8,'COUNSEL']
ListB=ListA.copy()
ListB

[23, 67, 'DENNIS', 67, 'FROM', 8, 5.8, 'COUNSEL']

In [13]:
#Return no of occurences of a value
DictA={"COLM1":23,"COLM2":67,"NAME":"DENNIS","AGE":8,"HEIGHT":5.8,"POSITION":'COUNSEL'}
print(ListB.count(67))
DictA.items()

2

dict_items([('COLM1', 23), ('COLM2', 67), ('NAME', 'DENNIS'), ('AGE', 8), ('HEIGHT', 5.8), ('POSITION', 'COUNSEL')])

In [19]:
ListC=[34,7,90,6,5,1]
ListC.sort()
ListC

[1, 5, 6, 7, 34, 90]

In [21]:
ListC.pop(1)

5

In [49]:
#dictionary inside a dictionary

DictB={"Name":"Dennis","Surname":"Tolle","D.O.B":2000,"AGE":22,"Marital Status":"Single"}
DictC={"Department":"IT Department","More Information":DictB}
print(DictB)
print(DictC)

{'Name': 'Dennis', 'Surname': 'Tolle', 'D.O.B': 2000, 'AGE': 22, 'Marital Status': 'Single'}
{'Department': 'IT Department', 'More Information': {'Name': 'Dennis', 'Surname': 'Tolle', 'D.O.B': 2000, 'AGE': 22, 'Marital Status': 'Single'}}

In [48]:
for i in DictB:
    print(i,DictB[i])
print("**************************")
for x in DictC:
    print(x,DictC[x])

Name Dennis
Surname Tolle
D.O.B 2000
AGE 22
Marital Status Single
**************************
Department IT Department
More Information {'Name': 'Dennis', 'Surname': 'Tolle', 'D.O.B': 2000, 'AGE': 22, 'Marital Status': 'Single'}

In [50]:
ListA=[23,67,"DENNIS",8,5.8,'COUNSEL']
print(ListA[2:4])
TupleA=(23,67,"DENNIS",8,5.8,'COUNSEL')
TupleB=(33,87,"TENNIS",17,6.8,'DOUNSEL')
print(TupleA[2:4])
DictA={"COLM1":23,"COLM2":67,"NAME":"DENNIS","AGE":8,"HEIGHT":5.8,"POSITION":'COUNSEL'}
print(DictA["COLM2"])
setA={1,2,3,3,"DENNIS","DENNIS"}
setA.remove("DENNIS")
setA.update({"TIARA",17})
print(setA)

['DENNIS', 8]
('DENNIS', 8)
67
{1, 2, 3, 17, 'TIARA'}

In [53]:
DictA

{'COLM1': 23,
 'COLM2': 67,
 'NAME': 'DENNIS',
 'AGE': 8,
 'HEIGHT': 5.8,
 'POSITION': 'COUNSEL'}

In [54]:
newList=[setA,TupleA,34,"hello",DictA]
print(newList)

[{1, 2, 3, 17, 'TIARA'}, (23, 67, 'DENNIS', 8, 5.8, 'COUNSEL'), 34, 'hello', {'COLM1': 23, 'COLM2': 67, 'NAME': 'DENNIS', 'AGE': 8, 'HEIGHT': 5.8, 'POSITION': 'COUNSEL'}]

In [56]:
newList2=[x**2 for x in range(7)]
print(newList2)

[0, 1, 4, 9, 16, 25, 36]

In [59]:
newList2.split(",")

AttributeError: 'list' object has no attribute 'split'

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from sklearn.model_selection import train_test_split
from sklearn import datasets
import seaborn as sns
import sys
sys.path.append('C:/')
import myUniversalFunctions as myUni

In [3]:
X=X[23,45,28,39,14].values

NameError: name 'X' is not defined

In [13]:
def getUserData():
    ListD={}
    while True:
        userName=input("Input your name: ")
        userId=input("input your userId: ")
        userMarks=input("input user marks separate by a coma: ")
        moreStudents=input("reply with 'no' to quit: ")
        if userId in ListD:
            print("userId already exists")
        else:
            ListD[userName,userId]=userMarks.split(",")
            if moreStudents.lower()=="no":
                return ListD

In [14]:
StudentData=getUserData()

Input your name: DENNIS
input your userId: 45
input user marks separate by a coma: 40,40,50
reply with 'no' to quit: TE
Input your name: TOLLE
input your userId: 55
input user marks separate by a coma: 50,80,50
reply with 'no' to quit: TE
Input your name: AWUOR
input your userId: 66
input user marks separate by a coma: 30,30,80
reply with 'no' to quit: NO

In [18]:
print(StudentData)

{('DENNIS', '45'): ['40', '40', '50'], ('TOLLE', '55'): ['50', '80', '50'], ('AWUOR', '66'): ['30', '30', '80']}

In [23]:
def avgMarks(ListD):
    avgMarks={}
    for i in ListD:
        temp=ListD[i]
        sumMarks=0
        for userMarks in temp:
            sumMarks+=int(userMarks)
        avgMarks[i]=sumMarks/len(temp)
        
    return avgMarks

In [29]:
avgM=avgMarks(StudentData)
print(avgM)

{('DENNIS', '45'): 43.333333333333336, ('TOLLE', '55'): 60.0, ('AWUOR', '66'): 46.666666666666664}

In [31]:
for i in avgM:
    print("Student name and id: ",i,"Averaga Score is: ",avgM[i])

Student name and id:  ('DENNIS', '45') Averaga Score is:  43.333333333333336
Student name and id:  ('TOLLE', '55') Averaga Score is:  60.0
Student name and id:  ('AWUOR', '66') Averaga Score is:  46.666666666666664