DATA STRUCTURES

In [81]:
ListA=[23,67,"DENNIS",8,5.8,'COUNSEL']
print(ListA[2:4])
TupleA=(23,67,"DENNIS",8,5.8,'COUNSEL')
TupleB=(33,87,"TENNIS",17,6.8,'DOUNSEL')
print(TupleA[2:4])
DictA={"COLM1":23,"COLM2":67,"NAME":"DENNIS","AGE":8,"HEIGHT":5.8,"POSITION":'COUNSEL'}
print(DictA["COLM2"])
setA={1,2,3,3,"DENNIS","DENNIS"}
setA.remove("DENNIS")
setA.update({"TIARA",17})
print(setA)

['DENNIS', 8]
('DENNIS', 8)
67
{1, 2, 3, 17, 'TIARA'}

In [18]:
ListB=ListA+[3,34]
print(ListB)
print(TupleA+TupleB)

[23, 67, 'DENNIS', 8, 5.8, 'COUNSEL', 3, 34]
(23, 67, 'DENNIS', 8, 5.8, 'COUNSEL', 33, 87, 'TENNIS', 17, 6.8, 'DOUNSEL')

In [89]:
setA

{1, 17, 2, 23, 3, 'SETUP', 'TIARA'}

In [31]:
del(ListA[6])

In [36]:
ListA

[23, 67, 'DENNIS', 8, 5.8, 'COUNSEL', 'TOLLE', 34, 34]

In [37]:
ListA+[23,"FRONTIER"]

[23, 67, 'DENNIS', 8, 5.8, 'COUNSEL', 'TOLLE', 34, 34, 23, 'FRONTIER']

In [38]:
ListA

[23, 67, 'DENNIS', 8, 5.8, 'COUNSEL', 'TOLLE', 34, 34]

In [39]:
DictA

{'COLM1': 23,
 'COLM2': 67,
 'NAME': 'DENNIS',
 'AGE': 8,
 'HEIGHT': 5.8,
 'POSITION': 'COUNSEL'}

In [62]:
DictA['SURNAME']='TOLLE'
DictA

{'NAME': 'DENNIS',
 'AGE': 8,
 'POSITION': 'COUNSEL',
 'DEPARTMENT': 'IT',
 'SURNAME': 'TOLLE'}

In [69]:
#If you copy all the contents in DictA get copied to DictB
#If you change a value in memory location of DictA,DictB also changes
DictB=DictA
DictB["D.O.B"]=1989
print(DictA)
print(DictB)

{'NAME': 'DENNIS', 'AGE': 8, 'POSITION': 'COUNSEL', 'DEPARTMENT': 'IT', 'SURNAME': 'TOLLE', 'D.O.B': 1989}
{'NAME': 'DENNIS', 'AGE': 8, 'POSITION': 'COUNSEL', 'DEPARTMENT': 'IT', 'SURNAME': 'TOLLE', 'D.O.B': 1989}

In [71]:
#if you use the copy()funtion the contents dont get copied in both once you alter one
DictB=DictA.copy()
DictB["Month"]='MAY'
print(DictA)
print(DictB)

{'NAME': 'DENNIS', 'AGE': 8, 'POSITION': 'COUNSEL', 'DEPARTMENT': 'IT', 'SURNAME': 'TOLLE', 'D.O.B': 1989}
{'NAME': 'DENNIS', 'AGE': 8, 'POSITION': 'COUNSEL', 'DEPARTMENT': 'IT', 'SURNAME': 'TOLLE', 'D.O.B': 1989, 'Month': 'MAY'}

In [72]:
SetA

NameError: name 'SetA' is not defined

In [98]:
setA.update({23,17,'SETUP'})
setA.remove(17)
setA

{1, 2, 23, 3, 'SETUP', 'TIARA'}

In [106]:
TupleA[2:]

('DENNIS', 8, 5.8, 'COUNSEL')